<div class="container">
  <hr>
  <form #carForm="ngForm" (ngSubmit)="submitCar(newCar)">
    <div class="form-group">
      <label>Model</label>
      <input #model="ngModel" [(ngModel)]="newCar.model" name="model" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Mark</label>
      <input #mark="ngModel" [(ngModel)]="newCar.mark" name="mark" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Number of doors</label>
      <input #numberOfDoors="ngModel" [(ngModel)]="newCar.numberOfDoors" name="numberOfDoors" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Max Speed</label>
      <input #maxSpeed [(ngModel)]="newCar.maxSpeed" name="maxSpeed" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Year</label>
      <select #year [(ngModel)]="newCar.year" name="year" class="form-control">
        <option *ngFor="let year of years">{{ year }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Engine:</label>
      <br>
      <input #engine [(ngModel)]="newCar.engine" type="radio" name="engine" value="diesel"> Disel
      <br>
      <input #engine [(ngModel)]="newCar.engine" type="radio" name="engine" value="petrol"> Petrol
      <br>
      <input #engine [(ngModel)]="newCar.engine" type="radio" name="engine" value="hybrid"> Hybrid
      <br>
      <input #engine [(ngModel)]="newCar.engine" type="radio" name="engine" value="electric"> Electric
      <br>
    </div>
    <br>
    <div>
      <label>Type of engine</label>
      <br>
      <input #isAutomatic [(ngModel)]="newCar.isAutomatic" type="checkbox" name="isAutomatic"> Automatic
      <br>
    </div>

    <div class="input-group col-md-5 pl-0 my-lg-4 my-2">
      <button type="submit" class="btn btn-primary mr-2">Add car</button>
    </div>
  </form>
</div>